<!---->
<!--Created by IntelliJ IDEA.-->
<!--User: it-->
<!--Date: 2023-11-07-->
<!--Time: 오전 10:08-->
<!--To change this template use File | Settings | File Templates.-->
<!---->
<!--<%@ page contentType="text/html;charset=UTF-8" pageEncoding="UTF-8" %>-->
<html lang="ko">

<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>

    <style>

    </style>

    <script>

    </script>

    <footer class="border-top mt-sm-5 p-sm-5">
        <p class="lead text-muted text-center">민소매</p>
    </footer>
</head>
<body>

<!--<%@include file="../layout/Header.jsp"%>-->

<main class="container mt-5">
    <section>
        <div class="row">
            <div class="col-sm-4 mx-auto">
                <form action="/login/LoginProcess" method="post">
                    <div class="my-3 form-floating">
                        <input type="text" class="form-control" id="id" name="id" placeholder="아이디를 입력하세요.">
                        <label for="id">아이디를 입력하세요.</label>
                    </div>
                    <div class="my-3 form-floating">
                        <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하세요.">
                        <label for="password">비밀번호를 입력하세요.</label>
                    </div>
                    <div class="my-3 d-grid">
                        <button type="submit" class="btn btn-primary">로그인</button>
                    </div>
                    <div class="my-3 d-flex justify-content-end">
                        <a th:href="@{/board2/login/signup.do}" class="btn btn-link text-info">회원 가입</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>



<!--<%@include file="../layout/Footer.jsp"%>-->
<div th:replace="~{/layout/footer :: footer}"></div>

</body>
</html>
