<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/img/minsome_m_favicon.png" rel="icon" type="image/png" sizes="32x32" ><!--파비콘-->

    <meta name="viewport" content="width=1400"><!--다른 매체에서도 너비 오류 없이 볼 수 있게-->
    <title>MINSOME</title>
    <!-- 폰트연결 -->
    <link href="https://webfontworld.github.io/pretendard/Pretendard.css" rel="stylesheet">
    <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <!-- aos css -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- css 연결 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/sub1.css">
    <link rel="stylesheet" href="/css/mypage/mypage.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script><!-- 수정X -->

    <!-- js -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script><!-- aos 라이브러리 -->
    <script src="/js/aos.js"></script><!-- aos 소스 -->
    <script src="/js/sub.js"></script>
    <script src="/js/script.js"></script>
    <meta charset="UTF-8">
    <title>마이컬리</title>
</head>
<body>
<div th:replace="~{/layout/header :: header-basic}"></div>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">마이페이지</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">회원정보수정</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">관심목록</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">민소매 관리</a>

        </div>
    </div>
</div>
<div th:replace="/layout/footer :: footer-basic"></div>
</body>

</html>